<h1> Welcome to your Dashboard</h1>

<h5>Add your favorite Organization to begin Giving!</h5>

<div>
    <ul>
        <li><a href="/new/{{userId}}">Add an Organization</a></li>

        <li><a href="/delete/{{userId}}">Delete Your Account</a></li>

        <li> <a href="/profile/{{userId}}">Update Your Profile</a></li>
    </ul>
</div>

{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}

{{#each org}}
<div class="test">
    <a>
        <p>{{this.name}}</p>
        <p>{{this.mission}}</p>
        <p>{{this.url}}</p>
        <button onClick={{this.give}}>Give</button>

    </a>
</div>
{{/each}}