<h1>Welcome to your Dashboard</h1>

<h3>Happy Giving!</h3>

{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}

<div>
    <a href="/give/{{userId}}/{{org.0.id}}">
        <img src="{{org.0.img}}" alt="NVRJ" height="250" width="400">
    </a>
</div>

<div>
    <a href="/delete/{{userId}}">Delete My Account</a>

    <a href="/profile/{{userId}}">Update Your Profile</a>

</div>