<h1> Welcome to your Dashboard</h1>

<h5>Select your favorite Organization to begin Giving!</h5>

{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}

<div>
    <h3> <span class="cute">{{org.0.name}}</span><br></h3>
    <span>{{org.0.mission}}</span>
    <a href="/give/{{userId}}/{{org.0.id}}">
        <img src="{{org.0.img}}" alt="ORG">
    </a>
</div>
{{!-- <div>
    <h3> <span class="cute">{{org.1.name}}</span><br></h3>
    <span>{{org.1.mission}}</span>
    <a href="/give/{{userId}}/{{org.1.id}}">
        <img src="{{org.1.img}}" alt="ORG">
    </a>
</div> --}}

<div>
    <a href="/new/{{userId}}">Add an Organization!</a>

    <a href="/delete/{{userId}}">Delete Your Account</a>

    <a href="/profile/{{userId}}">Update Your Profile</a>

</div>