<h1>Welcome to your Dashboard</h1>

<h3>Select your favorite Organization to begin Giving!</h3>

{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}

<div>
    <span>{{org.0.name}}</span><br>
    <span>{{org.0.mission}}</span>
    <a href="/give/{{userId}}/{{org.0.id}}">
        <img src="{{org.0.img}}" alt="NVRJ" height="400" width="500">
    </a>
</div>

<div>
    <a href="/delete/{{userId}}">Delete My Account</a>

    <a href="/profile/{{userId}}">Update Your Profile</a>

</div>